{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>

<body>
    <section class="background">
        <div class="container py-5 h-100">
            <div  class= "row d-flex justify-content-center align-items-center h-100">
                <div class="col col-lg-9 col-xl-7">
                    <div class="square card rounded-3">
                        <div class="card-body p-4">
                            <h4 class="text-center my-3 pb-3">To Do List with Django</h4>
                            {% if update %}
                            <form method="post" action="{% url 'update' %}" class="row row-cols-lg-auto g-3 justify-content-center align-items-center mb-4 pb-2">
                                {% csrf_token %}
                                <div class="col-12">
                                    <div class="form-outline">
                                        <input type="text" class="form-control" name="subject" placeholder="Enter a subject" value="{{ update.subject }}">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <textarea type="text" name="description" class="form-control" placeholder="Enter a description">{{ update.description }}</textarea>
                                </div>
                                <input type="hidden" name="id" value="{{ update.id }}" />
                                <div class="col-12">
                                    <button type="submit" class="btn btn-primary">Update</button>
                                </div>
                            </form>
                            {% else %}
                           <form method="post" action="{% url 'insert' %}" class="row row-cols-lg-auto g-3 justify-content-center align-items-center mb-4 pb-2">
                               {% csrf_token %}
                               <div class="col-12">
                                   <div class="form-outline">
                                       <input type="text" class="form-control" name="subject" placeholder="Enter a subject">
                                   </div>
                               </div>
                               <div class="col-12">
                                   <textarea type="text" name="description" class="form-control" placeholder="Enter a description"></textarea>
                               </div>
                               <div class="col-12">
                                   <button type="submit" class="btn btn-primary">Add Task</button>
                               </div>
                           </form>
                           {% endif %}
                          <table class="square table mb-4">
                                <thead>
                                    <tr>
                                        <th scope="col">Subject</th>
                                        <th scope="col">Description</th>
                                        <th scope="col">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for data in db_data %}
                                    <tr>
                                        <td>{{ data.subject }}</td>
                                        <td>{{ data.description }}</td>
                                        <td>
                                            <a href={% url "update_form" data.id %}><button type="button" class="btn btn-success btn-sm my-1">Update</button></a>
                                            <a href={% url "delete" data.id %}><button type="button" class="btn btn-danger btn-sm">Delete</button></a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                          </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>
